/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* синий #2196F3 */
/* белый #FFFFFF */
/* банер фон #2F303A */

:root {
    --primery-text-color: #212121;
    --secondary-text-color: #757575;
    --blue: #2196F3;
    --white: #FFFFFF;
    --banner: #2F303A;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

h1, h2, h3, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section{
    padding: 94px 0;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ---------скрытое---------- */

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

/* ------------------------Шапка------------------------------ */

.section-header{
    border-bottom: 1px;
       
    background-color: var(--white);
}

.logo{

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue);
}

.link{
    text-decoration: none;
}

.logo-dark{
    color: #000;
}

.logo-light{
    color: #FFF;
}

/* Навигация */

.main-nav{
    display: flex;
    align-items: center;
}

.site-nav{
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child){
    margin-right: 50px;
}



.contact-nav{
    display: flex;
    margin-left: auto;
}

.contact-nav .item + .item{
    margin-left: 50px;
}

.contact-nav .link{
    padding: 32px 0;
    display: block;
 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
}
    
.site-nav .link {
    padding: 32px 0;
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--blue);
}

.site-nav .link.current{
    color: var(--blue);
}

.contact-nav .link {
    color: var(--secondary-text-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus{
    color: var(--blue);
} 


/* -----------------------кнопка--------------------------*/

.button{
    border-radius: 4px;
    padding: 10px 25px;
    min-width: 186px;
    border: transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;

    color: var(--white);
    background-color:var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}

.filtr .button{

    border-radius: 4px;
    min-width: 73px;
    padding: 6px 22px;
    border: transparent;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    letter-spacing: 0.03em;

    color: var(--primery-text-color);
    background-color: #F5F4FA;
}

.button:hover,
.button:focus{
    cursor: pointer;
    color: var(--white);
    background-color: var(--blue);
    
}

/* ---------------------Подвал----------------- */

.address{
    margin-top: 20px;
}

.footer-section{
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--banner);
}


.footer .footer-item + .footer-item {
    margin-top: 9px;
}

.footer-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-adress{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white)
}

/* -------------------------------Hero------------------------ */

.hero {
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;
    text-align: center;
    background-color: var(--banner);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white);
}

/* --------------------------Наши преимущества--------------------- */

.features-section{
    padding-bottom: 0;
}

.features{
    display: flex;
   
}

.features .item + .item {
    margin-left: 30px;
}

.features .item{
    width: 270px;
}

.features .item::before{
    margin-bottom: 30px;
    display:block;
    content:"";
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
}

.features .item:nth-child(1)::before{
    background-image: url(../images/Vector-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.features .item:nth-child(2)::before{
    background-image: url(../images/Vector-2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.features .item:nth-child(3)::before{
    background-image: url(../images/Vector-3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.features .item:nth-child(4)::before{
    background-image: url(../images/Vector-4.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}

.features .title {
    margin-bottom: 10px;
    width: 270px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primery-text-color);
}


/* -------------------------Наша деятельность------------------------ */


.work-section .section-title{
    padding-top: 0;
}

.section-team{
    background-color: #F5F4FA;
}

.works{
    display: flex;
}

.works .img{
    display: block;
    max-width: 100%;
    height: auto;
}

.works .item + .item {
    margin-left: 30px;
}


/* --------------------Команда-------------------------- */

.section-title{
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primery-text-color);
}

.team{
    display: flex;

    text-align: center;
}

.team .item{
 
    background: #FFFFFF;
}

.team .item + .item{
    margin-left: 30px;
}

.name{
    padding: 30px 0;
}

.team-title {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/* ------------------Постоянные клиенты------------ */

.clients-list{
    display: flex;
    padding: 0;
    margin: 0;
    border: #161618;
    list-style: none;
}

.client{
    width: 106px;
    height: 60px;
    fill: #2196F3;
}

.client-icon{
    width: 170px;
    height: 92px;
}

/* ---------------------Портфолио----------------- */

.filtr{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.filtr .item + .item{
    margin-left: 8px;
}

.filtr .item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: va(--primery-text-color);
}

.projects{
    display: flex;
    flex-wrap: wrap;
}

.projects-item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    background: #FFFFFF;

}

.projects-item:nth-child(3n){
    margin-right: 0;
}

.projects-item:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.projects-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--primery-text-color);
}

.projects-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.name-project{
    padding: 20px 24px;
}

/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* синий #2196F3 */
/* белый #FFFFFF */
/* бфнер фон #2F303A */
/* подвал текст rgba(255, 255, 255, 0.6)*/